.weather-summary__field {
    display: flex;
    align-items: center;
    padding: 15px 18px;
    gap: 14px;
    width: 100%;

    border: none;
    border-radius: 18px;
    background: var(--input-bg);
}

.weather-summary__field-icon {
    width: 20px;
    height: 20px;
}

.weather-summary__field-input {
    flex: 1;
    height: 100%;

    font-family: inherit;
    font-size: 17px;
    color: var(--text-color);
}

.weather-summary__field-input::placeholder {
    color: #9CA3AF;
}
@media (max-width: 520px) {
    .weather-summary__field {
        align-self: center;
    }
}