.weather-main-info__tabs {
    display: flex;
    align-items: center;
    gap: 32px;

    margin-bottom: 32px;
}
.weather-main-info__tabs-button {
    position: relative;

    padding: 0;

    border: none;
    background: none;
    cursor: pointer;

    font-family: inherit;
    font-size: 22px;
    font-weight: 700;

    color: #9CA3AF;

    transition: color .25s ease;
}
.weather-tabs__button--active {
    color: var(--text-color);
}
.weather-main-info__tabs-button:hover {
    color: #374151;
}
.weather-main-info__tabs-button::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -8px;

    width: 0;
    height: 3px;

    border-radius: 999px;
    background: #3762cd;

    transition: width .25s ease;
}
.weather-tabs__button--active::after {
    width: 100%;
}