.weather-main-info__highlights-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    width: 100%;

    margin-top: 32px;
}
@media (max-width: 1215px) {
    .weather-main-info__highlights-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 520px) {
    .weather-main-info__highlights-list {
        grid-template-columns: repeat(1, 1fr);
    }
}